:root{
    --text-bold: #272727;
    --text-primary: #444444;
    --text-secondary: #757575;
}
*{
    margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 30px;
    padding: 3rem 2rem;
    background-color: rgb(255, 255, 255);

}
section{
    margin-top: 1.7rem;
}
h1{
    color: #00AA48;
    text-align: center;
}
h2{
    font-size: 1.4rem;
}
.usuario{
    padding-top: 0.5rem;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}
.usuario-nombre{
color: var(--text-primary);
font-size: 1.1rem;

}
.usuario-correo{
    color: var(--text-secondary);
    font-size: 1.1rem;
}
.cancha{
    margin-top: 1.2rem;
}
.cancha div{
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
.cancha-field-nombre{
    color: var(--text-bold);
    font-weight: bold;
    font-size: 1.1rem;
}
.cancha-nombre{
    font-size: 1.1rem;
    color: var(--text-primary);
}
.cancha-field-id{
    font-weight: bold;
}

.cancha-field-id, .cancha-id{
    color: var(--text-secondary);
    font-size: 1rem;
}

h3{
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}
.reserva{
    margin-top: 1.2rem;
    font-size: 1.1rem;
}
.reserva div{
    margin-bottom: 0.8rem;
}
.reserva-field{
    color: var(--text-primary);
    font-weight: bold;
}
.reserva-fecha, .reserva-exp, .reserva-duracion{
    color: var(--text-primary);
}
.reserva div:last-child{
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var(--text-bold);
    font-weight: bold;
}
.monto{
    /*  */
}
.reserva-monto{
    /*  */
}
